@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "helvetica-bold";
  src: url("/fonts/Helvetica-bold.ttf");
}

@font-face {
  font-family: "helvetica-roman";
  src: url("/fonts/Helvetica-lt-roman.otf");
}

@font-face {
    font-family: "helvetica-light";
    src: url("/fonts/Helvetica-lt-light.otf");
  } 

  body {

    background-color: black;
  }